<html>
<head>
<title> Search Course </title>
<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag :defaults %>
</head>
<body>

<h1> Search Course </h1>

<p style='color: green' > <%= flash[:notice] %> </p>

<%= yield %>

<p>

</body>
</html>